@tailwind base;
@tailwind components;
@tailwind utilities;

/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-left: 40px;
  text-align: center;
}

.button {
  margin-top: 10px;
  padding: 10px;
  color: 'white';
  border-radius: 4px;
  border-style: solid;
}

.button:focus {
  outline-width: 0;
}

.input {
  margin-top: 10px;
  font-size: 18pt;
  font-family: 'Karla';
  background-color: transparent;
  border-style: none;
  margin-left: 15px;
  min-width: 50vh;
}

.input:focus {
  outline-width: 0;
}
